.cursor-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* don't block clicks */
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.cursor-circle {
    width: 2rem;
    height: 2rem;
    border: .06rem solid rgba(50, 205, 50, .6);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-dot {
    width: .5rem;
    height: .5rem;
    background: rgba(50, 205, 50, .6);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-dot.hover {
    transform: translate(-50%, -50%) scale(2.5);
}