:root {
    --background-color: hsl(227, 29%, 10%);
    --main-color: hsl(227, 39%, 13%);
    --secondary-color: hsl(0, 0%, 73%);
    --tertiary-color: hsl(227, 29%, 63%);
    --text-color: #ffffff;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    a{
        text-decoration: none;
        color: white;
    }

}

.main{
    min-height: 90vh;
}

nav {
    border-bottom: 2px solid #e7e7e7;
}

.nav-section{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.self-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1.5rem;
}

#name {
    font-size: 4rem;
    font-weight: 600;
}

#occupation {
    font-size: 3rem;
    font-weight: 200;
    color: var(--secondary-color);
}

#self-photo{
    border-radius: 10%;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#computer-software-header{
    margin-top: 5rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.computer-softwares{
    text-align: center;
    ul{
        position: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
        list-style-type: none;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        
        padding: 0;
    }
}

.computer-software{
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 12rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    margin: 1.5rem 4rem;
    text-align: center;
    background-color: var(--main-color);
    img{
        height: 6rem;
        width: 6rem;
        object-fit: contain;
        vertical-align: middle;
        margin-right: 1rem;
        justify-self: center;
        align-self: center;
    }
}


.computer-software-label{
    position: relative;
    display: none;
    margin-top: .3rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    justify-self: center;
    align-items: center;
    background-color: var(--tertiary-color);
    max-width: fit-content;
    max-height: fit-content;
    font-weight: 200;
    color: var(--text-color);

    :hover{
        display: block;
    }
}

#human-languages_header{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.human-languages{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        margin-left: 10%;
        margin-right: 10%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
}

.human-language{
    font-size: 1.5rem;
    margin: 0.5rem 4rem;
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    width: 14rem;
    height: 9rem;
    margin-top: 0.5rem;
    border-radius: 20%;
    color: var(--tertiary-color);
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 2.8rem;
}

.human-language-level{
    position: relative;
    height: 10rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
}


.human-language-label{
    position: relative;
    display: none;
    border-radius: .4rem;
    font-size: 1.2rem;
    justify-self: center;
    align-items: center;
    background-color: var(--tertiary-color);
    max-width: fit-content;
    max-height: fit-content;
    font-weight: 200;
    color: var(--text-color);

    :hover{
        display: block;
    }
}

#arabic-language{
    position: relative;
    bottom: 0.8rem;
    font-size: 3.8rem;
    /* height: 4.1rem; */
}

#arabic-language .human-language-level{
    bottom: .8rem;
}

#arabic-language .human-language-label{
    bottom: .8rem;
}


#codecademy-header{
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
#codecademy-link{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #e7e7e7;
}

.under-construction {
    color: green;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.projects-section{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    #projects-section-header{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #projects-section-description{
        font-size: 1.5rem;
        font-weight: 200;
        color: var(--secondary-color);
    }
}

.projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var();
}

.project{
    border-radius: 1rem;
    outline-width: .1rem;
    outline-style: solid;
    outline-color: var(--secondary-color);
    border-width: 0;
    padding: 1rem;
    margin: 1rem auto;
    width: 25rem;
    height: 14rem;
    text-align: left;
    background-color: var(--main-color);
    .project-title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid var(--secondary-color);
    }
    .project-description{
        font-size: 1.2rem;
        font-weight: 200;
        color: var(--secondary-color);
        margin-top: 0.5rem;
    }
}