:root {
    --background-color: hsl(227, 31%, 13%);
    --name-color: hsl(215, 89%, 65%);
    --occupation-color: hsl(215, 15%, 81%);
    --main-color: hsl(227, 49%, 20%);
    --main-color-light: hsl(227, 49%, 26%);
    --secondary-color: hsl(0, 0%, 75%);
    --tertiary-color: hsl(227, 31%, 69%);
    --tertiary-color-light: hsl(227, 31%, 75%);
    --tertiary-color-dark: hsl(227, 31%, 53%);
    --quaternary-color: hsl(227, 19%, 2%);
    --quinary-color: hsl(227, 19%, 8%);
    --text-color: #ffffff;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    a{
        text-decoration: none;
        color: white;
    }

}

.main{
    min-height: 90vh;
    margin-top: 6rem;
}

nav {
    border-bottom: 2px solid #e7e7e7;
    margin-bottom: 2rem;
    background-color: var(--quinary-color);
}

.nav-section{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.self-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1.5rem;
}

#name {
    font-size: 4rem;
    font-weight: 600;
    color: var(--name-color);
}

#occupation {
    font-size: 3rem;
    font-weight: 200;
    color: var(--occupation-color);
}

@media (max-width: 768px) {
    #name {
        font-size: 2.5rem;
    }

    #occupation {
        font-size: 1.8rem;
    }
}

#self-photo{
    border-radius: 10%;
    outline-color: white;
    outline-style: solid;
    outline-width: .1rem;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
}

#computer-software-header{
    margin-top: 5.5rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.computer-softwares{
    text-align: center;
    ul{
        position: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
        list-style-type: none;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        
        padding: 0;
    }
}

.computer-software{
    border-radius: 2rem;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 12rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    margin: 1.5rem 4rem;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 1rem 1rem .2rem var(--quaternary-color);
    img{
        height: 6rem;
        width: 6rem;
        object-fit: contain;
        vertical-align: middle;
        margin-right: 1rem;
        justify-self: center;
        align-self: center;
    }
    &:hover{
        /* animation: zoomIn 0.3s forwards; */
        box-shadow: .4rem .4rem .4rem var(--quaternary-color), 0 0 8rem 1.2rem var(--tertiary-color-light);
        background-color: var(--main-color-light);
    }
}


.computer-software-label{
    position: relative;
    display: none;
    margin-top: .3rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    justify-self: center;
    align-items: center;
    background-color: var(--tertiary-color);
    max-width: fit-content;
    max-height: fit-content;
    font-weight: 200;
    color: var(--text-color);

    :hover{
        display: block;
    }
}

#human-languages_header{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.human-languages{
    margin-top: 3rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    ul{
        margin-left: 10%;
        margin-right: 10%;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
}

.human-language{
    font-size: 1.5rem;
    margin: 0.5rem 4rem;
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
    width: 14rem;
    height: 9rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    color: var(--tertiary-color);
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 2.8rem;
    box-shadow: 1rem 1rem .2rem var(--quaternary-color);
    &:hover{
        box-shadow: .4rem .4rem .4rem var(--quaternary-color), 0 0 8rem 1.2rem var(--tertiary-color-light);
        background-color: var(--main-color-light);
        color: var(--tertiary-color-light);
    }
}

.human-language-level{
    position: relative;
    height: 10rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
}


.human-language-label{
    position: relative;
    display: none;
    border-radius: .4rem;
    font-size: 1.2rem;
    justify-self: center;
    align-items: center;
    background-color: var(--tertiary-color);
    max-width: fit-content;
    max-height: fit-content;
    font-weight: 200;
    color: var(--text-color);

    :hover{
        display: block;
    }
}

#arabic-language{
    position: relative;
    bottom: 0.8rem;
    font-size: 3.8rem;
    /* height: 4.1rem; */
}

#arabic-language .human-language-level{
    bottom: .8rem;
}

#arabic-language .human-language-label{
    bottom: .8rem;
}


#codecademy-header{
    margin-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
#codecademy-link{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #e7e7e7;
    margin-top: 5rem;;
}

.under-construction {
    color: green;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.form-container{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 1rem;
    outline-width: .1rem;
    outline-style: solid;
    outline-color: var(--secondary-color);
    border-width: 0;
    padding: 1rem;
    margin: 0 auto;
    width: 75%;
    text-align: left;
    background-color: var(--main-color);
    box-shadow: 1.7rem 1.7rem .2rem .1rem var(--quaternary-color);
}

.contact-header{
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .contact-header {
        font-size: 2rem;
        text-align: center;
    }
}
/* when the input is focused */
.form-input:focus {
    outline-color: var(--tertiary-color);
    box-shadow: 0 0 5rem .5rem var(--tertiary-color-light);
}

.submit-form-button{
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    border: none;
    border-radius: .3rem;
    padding: .4rem 0;
    cursor: pointer;

    &:hover{
        /* background-color: var(--tertiary-color); */
        /* color: var(--main-color); */
        outline-color: var(--tertiary-color);
        box-shadow: 0 0 5rem .5rem var(--tertiary-color-light);
    }
}

.projects-section{
    text-align: center;
    margin-bottom: 2rem;
    #projects-section-header{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    #projects-section-description{
        font-size: 1.5rem;
        font-weight: 200;
        color: var(--secondary-color);
    }
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.project{
    border-radius: 1rem;
    outline-width: .1rem;
    outline-style: solid;
    outline-color: var(--secondary-color);
    padding: 1rem;
    margin: 1rem 3rem;
    margin-bottom: 6.2rem;
    width: 19rem;
    height: 26.8rem;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 1.2rem 1.2rem .2rem var(--quaternary-color);
    .project-title{
        font-size: 1.7rem;
        font-weight: 600;
        margin-top: 1rem;
        border-top: 1px solid var(--secondary-color);
        padding-top: .5rem;
    }
    .project-description{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 200;
        color: var(--secondary-color);
    }
    .project-image{
        width: 70%;
        object-fit: contain;
        border-radius: .5rem;
    }
    &:hover{
        box-shadow: .5rem .5rem .4rem var(--quaternary-color), 0 0 8rem 1.2rem var(--tertiary-color-light);
        background-color: var(--main-color-light);
    }
}

@media (max-width: 1200px) {
    .projects{
        width: 90%;
    }
}

.project-header-container{
    margin: 2rem auto;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 1rem;
}

.project-header-title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.project-description-container{
    position: relative;
    margin: 0rem auto;
    display: flex;
    width: 80%;
    height: 39rem;
    padding: 1.5%;
    border-radius: 2rem;
    background-color: var(--main-color);
    box-shadow: 1.9rem 1.9rem .2rem .1rem var(--quaternary-color);
}

.project-logo{
    width: 50%;
    object-fit: contain;
    border-radius: 2rem;
}

.project_description{
    width: 50%;
    margin: 1rem;
    overflow: auto;
}

.project_container_separator{
    margin: 10rem 0;
}

.project-video-container{
    margin: 0rem auto;
    display: flex;
    width: 80%;
    height: 100%;
    padding: 1.5%;
    position: relative;
    border-radius: 2rem;
    background-color: var(--main-color);
    box-shadow: 1.9rem 1.9rem .2rem .1rem var(--quaternary-color);
}

.project_video_title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project-video{
    margin: auto;
    width: 100%;
    /* height: 100%; */
    /* object-fit: contain; */
}

.link-container{
    text-align: center;
    margin-top: 3.5rem;
    text-decoration: underline;
    color: var(--tertiary-color);
}

.download-link{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color-);
    &:hover{
        color: var(--tertiary-color-dark);
    }
}